/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	background-color: #1c1c1c;
	background-image: url('/images/carbon.png');
}


/*-----CONTAINER -----*/
#container {
	background-color: #717171;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
header {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,333333+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00333333',GradientType=0 ); /* IE6-9 */
	font-family: 'Dosis', sans-serif;
}
header img{
	width: 310px;
}

/*-----DECORATIVE BAR-------*/

div.decorativeWrapper{
	display: none;
}




/*-----NAVigation -----*/
button#showPhoneNav{
	color: #fff;
	font-weight: 600;
	display: block;
	border: 1px #222 solid;
	border-radius: 10px;
	width: 96%;
	margin-left: 2%;
	padding: .75em 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,333333+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00333333',GradientType=0 ); /* IE6-9 */
}

ul#myNav{
	display: none;
}
nav {}
	nav ul{
		border: 1px #ccc solid;
		border-radius: 14px;
		margin: .5em 2%;
		background-color: #f3f3f3;
		box-shadow: 0 0 5px #666;
	}
nav ul li {
	list-style: none;
}
nav ul li a {
	display:block;
	text-decoration: none;
	text-align: center;
	padding: .6em;
	border-top: 1px #ccc solid;
	font-weight: 600;
	color: #666;

}
/* will remove the top border from the first itme in the nav menu*/
nav ul li:first-child a{
	border-top: none;
}
nav ul li.selected a{
	color: salmon;
}
nav ul li a:hover {
	background-color:#999;
}



/*-----CONTENT -----*/
#content {
	min-height: 5em;
	background-color: #e6e6e6;
}
#content h1{
	font-size: 1.5em;
	font-weight: 600;
	color: mediumTurquoise;
	padding-top: 1.4em;
	border-bottom: 2px solid mediumTurquoise;
}
#content h2{
	font-size: 1.3em;
	font-weight: 600;
	color: salmon;
	padding-top: 1.1em;
}
#content h3{
	font-size: 1.1em;
	color: salmon;
	padding-top: .8em;
}
#content p{
	color: #333;
	padding-top: .5em;
	line-height: 130%;
}
#content a{
	color: salmon;
}
#content article{
	padding: .5em 2%;
}
#content strong{
	font-weight: 600;
}
#content ul li{
	margin-left: 6%;
	padding-bottom: .3em;
	font-size: .9em;
	list-style-type: square;
	color: #444;
	line-height: 120%;
}

/*------- IMAGES ---------*/
figure.w50 img{
	width: 100%;
}
figure.w50{
	background-color: #fff;
	width: 100%;
	border: 1px solid #999;
	box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.5);
	margin-top: .5em;
}
figcaption{
	text-align: center;
	font-size: .7em;
	padding: .3em;
}
figure.right{
	float: right;
}

/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f3f3f+0,3f3f3f+100&1+0,0.3+100 */
	background: -moz-linear-gradient(top,  rgba(63,63,63,1) 0%, rgba(63,63,63,0.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(63,63,63,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(63,63,63,1) 0%,rgba(63,63,63,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#4d3f3f3f',GradientType=0 ); /* IE6-9 */
}
footer p{
	color: mediumTurquoise;
	padding: .8em;
	text-align: center;
	font-size: .6em;
}
footer a{
	color: mediumTurquoise;
}

/*-- CLEAR FIX ---*/
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
